body {
    background-color: black;
    font-family: arial;
    color: white
}

h1 {
    color: grey;
    font-family: verdana
}

.main {
    background-color: white;
    color: black;
    width: 500px;
    padding: 30px;
    border-radius: 25px;
    text-align: left;
}

.calculator {
    padding: 0 0 20px 20px;
}
